# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\THUC TAP CONG DAN\MusicSystem--master\TTCN_JAVA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
